{% extends 'master/base.html' %}

{% block c %}
<h1>Skill match Job list</h1>


{% for job in job_data %}
<div class="card shadow-sm border-0 mb-3 mt-2">
  <div class="card-body">
    <div class="d-flex align-items-center">
      
      <div class="flex-shrink-0 me-3">
        <img src="{{job.posted_by.logo.url}}" alt="{{job.posted_by.company_name}}" class="rounded" style='width: 80px; height: 80px'; object-fit: cover; />

      </div>
      
      <div class="flex-grow-1">
        <h5 class="mb-1">{{job.title}}</h5>
        <p class="mb-1 text-muted">
          <strong>Company: </strong>
          {{job.posted_by.company_name}}

        </p>

        <p class="mb-1">
          <span class="badge bg-primary">{{job.category.name}}</span>

        </p>
        <p class="mb-1">
          {{job.skill_set}}

        </p>
      </div>

      <div class="text-end">
        
        {% if request.user.user_type == 'recruiter' %}
        <a href="{% url 'update_job_page' job.id %}" class="btn btn-sm btn-warning">Edit</a>
        <a href="{% url 'delete_page' job.id%}" class="btn btn-sm btn-danger"> Delete</a>
        <a href="{% url 'candidate_list_page' job.id %}" class="btn btn-sm btn-success">Candidate List</a>
          
        {% endif %}

        
        {% if request.user.user_type != 'recruiter' %}
        <a href="{% url 'apply_job_page' job.id %}" class="btn btn-sm btn-success">Apply</a>
          
        {% endif %}
          
          

      </div>
      

    </div>
  </div>

</div>
  
{% endfor %}
  

{% endblock c %}
